<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/1999/xhtml/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/facture.css" type="text/css">
</head>
<body>
<h1>DevAndClick</h1>
<table id="enTete">
    <tr>
        <td colspan="1"></td>
        <td colspan="1"><h1>Facture</h1></td>
        <td colspan="1"></td>
    </tr>
    <tr>
        <td width="80">Page</td>
        <td width="100">Date</td>
        <td width="120" >Ref</td>
    </tr>
    <tr>
        <td class="color">[[page_nb]]</td>
        <td class="color"></td>
        <td class="color"></td>
    </tr>
</table>
<ul id="coordonnees">
    <li></li>
    <li></li>
    <li></li>
</ul>

</body>
</html>